/*========================
  Author: Abbas Abdulmalik
  Creation Date: March 10, 2016
  Title: KillingMe
  Revised: 
  Purpose: 
  Note:
  //-----------------
  <body>
    <div id="menuPanel" class="panel"></div>    
    <div id="mainPanel" class="panel">
      <div id="topBanner">
        <span id="menu">&#9776;</span>
        <span id="title">Title Goes Here</span>
        <hr>
      </div>
    </div>
    <div id="splashPanel" class="panel"></div>
  <script src="main.js" class="panel"></script>        
  </body>
=========================*/
html{
  margin: 0;
  padding:0;
  width: 100%;
  user-select: none;
    overflow-x: hidden; 
}
body{
  margin: 0;
  padding:0;
  width: 100%;
  user-select: none;
  overflow-x: hidden;   
  
}
#mobileWrapper{
  position: fixed;
  left:0;
  right:0;
  top:0;
  bottom:0;
  overflow-x: hidden;  
}

.panel{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow-x: hidden;
}

#menuPanel{
  display: inline-block;
  z-index: 0;
  background: blue;

}
#topBanner{
  position: relative;  
  left: 0;
  width: 100%;
  height: 100px;
  text-align: left;
  vertical-align: top;
}

#divider{
    position: absolute;
    top: 2rem;
    width: 100%;
    height: 2px;
    background: hsl(189, 68%, 10%); 
    box-shadow: 0 1px 0 hsl(189, 68%, 60%);    
}
#menu{ 
  display: inline-block;
  font-size: 1.5rem;
  padding-left: 5%;
  cursor: pointer;
}

#title{
  font-size: 0.65rem;
  padding-right: 30%;
  visibility: visible;  
}

#mainPanel{
  z-index: 1;
  color: hsl(189, 68%, 10%);
  background: hsl(189, 68%, 36%);
  text-shadow: 0 1px 0 hsl(189, 68%, 60%);
  overflow-x: hidden;
  text-align: center;
  font-size: 0.5rem;
  transition: left 0.5s ease;
  overflow-x: hidden;
  box-shadow: -10px 10px 30px black;    
}
#splashPanel{
  z-index: 2;
  background: hsl(10, 68%, 36%);
  opacity: 1;
  visibility: visible;
  transition: all 1.5s linear;
  transition-delay: 1s;  
}
table{
  width: 100%;
}
#td2{
    text-align: center;
}













